@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


.project {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65%;
    margin-top: 210px;
    height: 100vh;
    /* min-height: calc(100vh - 540px);  */
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #e4e4e4;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}


.pj_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top:0;
    height: 10%;
    background-color: #cfe2ff;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 100px;
}

h4{
    text-align: center;
    font-family: 'Hanna', sans-serif;
    margin-right: 40px;
    color: grey;
    transition: text-decoration 0.3s, font-weight 0.3s; 
    font-weight: bold;
}

h4:hover {
    text-decoration: underline; 
    transform: scale(1.15);
}

.pj_top h4.selected {
    color: blue; 
    transform: scale(1.25);
    text-decoration: underline; 
  }

.pj_mid{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80%;
    /* margin-top: 40px; */
}

.pj_mid_left{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
    margin-top: 40px;
    width: 50%;
    border-right: 1px solid silver;
}

.pj_mid_right{
    display: flex;
    flex-direction: column;
    position: relative; 
    margin-top: 20px;
    width: 50%;
    justify-content: space-around;
}

.showData_left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    width: 30%;
    height: 100%;
}

.showData_title{
    text-align: center;
    font-weight: blod;
    font-size: 28px;
}

.showData_right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.showData_img{
    width: 45%;
    height: 60%;
    margin : 0 auto;
    display: block;
}

.showData_p{
    font-weight: bold;
    width: 100%;
    font-size: 16px;
}

.showData_p0{
    font-size: 12px;
    width: 100%;
    color: #333;
    border-radius: 15px;
    text-align: center;
    /* word-wrap: break-word; 
    overflow-wrap: break-word;  */
}

.showData_p2{
    font-size: 12px;
    width: 100%;
    color: #333;
    border-radius: 15px;
}

.showData_p3{
    font-size: 12px;
    width: 100%;
    color: blue;
    border-radius: 15px;
}

.right{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}

.SNS_img5 {
    position: absolute;
    
    left: 50%;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  @media (max-width: 768px) {
    .project {
        width: 90%; 
        margin-top: 400px; 
        height: auto; 
        left: 50%;
        transform: translateX(-50%);
        padding: 10px; 
    }

    .pj_top {
        height: auto;
        margin-bottom: 10px; 
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }

    .pj_top h4 {
        margin-right: 10px;
        font-size: 12px; 
    }

    .pj_mid {
        flex-direction: column; 
        padding: 10px; 
    }

    .pj_mid_left, .pj_mid_right {
        width: 100%; 
        border-right: none; 
        margin-right: 0; 
    }

    .showData_left, .showData_right {
        margin-right: 0;
    }

    .showData_img {
        width: 100%; 
        height: auto; 
        margin : 0 auto; 
    }

    .showData_p, .showData_p0, .showData_p2, .showData_p3 {
        font-size: 14px; 
        text-align: left;
        margin-top: 5px; 
        width: 100%;
        justify-content: center; 
    }

    .right {
        justify-content: center; 
        width: 100%;
    }
}
