.skill{
    top: 18rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.FE{
    background-color: aliceblue;
    border-radius: 1rem;
    margin-right: 50px;
}

.BE{
    background-color: aliceblue;
    border-radius: 1rem;
}